/* X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

.container,
.container-fluid {
    --gutter: 10px;
    --spacer: calc(var(--gutter) / 2);

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacer);
    padding-right: var(--spacer);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacer));
    margin-right: calc(-1 * var(--spacer));
}

.g-0 {
    --gutter: 0;
}

.col {
    flex: 1 0;
    padding-left: var(--spacer);
    padding-right: var(--spacer);
}

.row > [class*="col-"] {
    flex: 0 0 auto;
    width: calc(100% / 12 * var(--col-size));
    padding-left: var(--spacer);
    padding-right: var(--spacer);
}

.row > [class*="offset-"] {
    margin-left: calc(100% / 12 * var(--offset-number));
}

.col-1 {
    --col-size: 1;
}

.col-2 {
    --col-size: 2;
}

.col-3 {
    --col-size: 3;
}

.col-4 {
    --col-size: 4;
}

.col-5 {
    --col-size: 5;
}

.col-6 {
    --col-size: 6;
}

.col-7 {
    --col-size: 7;
}

.col-8 {
    --col-size: 8;
}

.col-9 {
    --col-size: 9;
}

.col-10 {
    --col-size: 10;
}

.col-11 {
    --col-size: 11;
}

.col-12 {
    --col-size: 12;
}

.offset-0 {
    --offset-number: 0;
}

.offset-1 {
    --offset-number: 1;
}

.offset-2 {
    --offset-number: 2;
}

.offset-3 {
    --offset-number: 3;
}

.offset-4 {
    --offset-number: 4;
}

.offset-5 {
    --offset-number: 5;
}

.offset-6 {
    --offset-number: 6;
}

.offset-7 {
    --offset-number: 7;
}

.offset-8 {
    --offset-number: 8;
}

.offset-9 {
    --offset-number: 9;
}

.offset-10 {
    --offset-number: 10;
}

.offset-11 {
    --offset-number: 11;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .container {
        --gutter: 18px;

        max-width: 540px;
    }

    .g-sm-0 {
        --gutter: 0;
    }

    .col-sm-1 {
        --col-size: 1;
    }

    .col-sm-2 {
        --col-size: 2;
    }

    .col-sm-3 {
        --col-size: 3;
    }

    .col-sm-4 {
        --col-size: 4;
    }

    .col-sm-5 {
        --col-size: 5;
    }

    .col-sm-6 {
        --col-size: 6;
    }

    .col-sm-7 {
        --col-size: 7;
    }

    .col-sm-8 {
        --col-size: 8;
    }

    .col-sm-9 {
        --col-size: 9;
    }

    .col-sm-10 {
        --col-size: 10;
    }

    .col-sm-11 {
        --col-size: 11;
    }

    .col-sm-12 {
        --col-size: 12;
    }

    .offset-sm-0 {
        --offset-number: 0;
    }

    .offset-sm-1 {
        --offset-number: 1;
    }

    .offset-sm-2 {
        --offset-number: 2;
    }

    .offset-sm-3 {
        --offset-number: 3;
    }

    .offset-sm-4 {
        --offset-number: 4;
    }

    .offset-sm-5 {
        --offset-number: 5;
    }

    .offset-sm-6 {
        --offset-number: 6;
    }

    .offset-sm-7 {
        --offset-number: 7;
    }

    .offset-sm-8 {
        --offset-number: 8;
    }

    .offset-sm-9 {
        --offset-number: 9;
    }

    .offset-sm-10 {
        --offset-number: 10;
    }

    .offset-sm-11 {
        --offset-number: 11;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .container {
        --gutter: 24px;

        max-width: 720px;
    }

    .g-md-0 {
        --gutter: 0;
    }

    .col-md-1 {
        --col-size: 1;
    }

    .col-md-2 {
        --col-size: 2;
    }

    .col-md-3 {
        --col-size: 3;
    }

    .col-md-4 {
        --col-size: 4;
    }

    .col-md-5 {
        --col-size: 5;
    }

    .col-md-6 {
        --col-size: 6;
    }

    .col-md-7 {
        --col-size: 7;
    }

    .col-md-8 {
        --col-size: 8;
    }

    .col-md-9 {
        --col-size: 9;
    }

    .col-md-10 {
        --col-size: 10;
    }

    .col-md-11 {
        --col-size: 11;
    }

    .col-md-12 {
        --col-size: 12;
    }

    .offset-md-0 {
        --offset-number: 0;
    }

    .offset-md-1 {
        --offset-number: 1;
    }

    .offset-md-2 {
        --offset-number: 2;
    }

    .offset-md-3 {
        --offset-number: 3;
    }

    .offset-md-4 {
        --offset-number: 4;
    }

    .offset-md-5 {
        --offset-number: 5;
    }

    .offset-md-6 {
        --offset-number: 6;
    }

    .offset-md-7 {
        --offset-number: 7;
    }

    .offset-md-8 {
        --offset-number: 8;
    }

    .offset-md-9 {
        --offset-number: 9;
    }

    .offset-md-10 {
        --offset-number: 10;
    }

    .offset-md-11 {
        --offset-number: 11;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .container {
        --gutter: 30px;

        max-width: 960px;
    }

    .g-lg-0 {
        --gutter: 0;
    }

    .col-lg-1 {
        --col-size: 1;
    }

    .col-lg-2 {
        --col-size: 2;
    }

    .col-lg-3 {
        --col-size: 3;
    }

    .col-lg-4 {
        --col-size: 4;
    }

    .col-lg-5 {
        --col-size: 5;
    }

    .col-lg-6 {
        --col-size: 6;
    }

    .col-lg-7 {
        --col-size: 7;
    }

    .col-lg-8 {
        --col-size: 8;
    }

    .col-lg-9 {
        --col-size: 9;
    }

    .col-lg-10 {
        --col-size: 10;
    }

    .col-lg-11 {
        --col-size: 11;
    }

    .col-lg-12 {
        --col-size: 12;
    }

    .offset-lg-0 {
        --offset-number: 0;
    }

    .offset-lg-1 {
        --offset-number: 1;
    }

    .offset-lg-2 {
        --offset-number: 2;
    }

    .offset-lg-3 {
        --offset-number: 3;
    }

    .offset-lg-4 {
        --offset-number: 4;
    }

    .offset-lg-5 {
        --offset-number: 5;
    }

    .offset-lg-6 {
        --offset-number: 6;
    }

    .offset-lg-7 {
        --offset-number: 7;
    }

    .offset-lg-8 {
        --offset-number: 8;
    }

    .offset-lg-9 {
        --offset-number: 9;
    }

    .offset-lg-10 {
        --offset-number: 10;
    }

    .offset-lg-11 {
        --offset-number: 11;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .g-xl-0 {
        --gutter: 0;
    }

    .col-xl-1 {
        --col-size: 1;
    }

    .col-xl-2 {
        --col-size: 2;
    }

    .col-xl-3 {
        --col-size: 3;
    }

    .col-xl-4 {
        --col-size: 4;
    }

    .col-xl-5 {
        --col-size: 5;
    }

    .col-xl-6 {
        --col-size: 6;
    }

    .col-xl-7 {
        --col-size: 7;
    }

    .col-xl-8 {
        --col-size: 8;
    }

    .col-xl-9 {
        --col-size: 9;
    }

    .col-xl-10 {
        --col-size: 10;
    }

    .col-xl-11 {
        --col-size: 11;
    }

    .col-xl-12 {
        --col-size: 12;
    }

    .offset-xl-0 {
        --offset-number: 0;
    }

    .offset-xl-1 {
        --offset-number: 1;
    }

    .offset-xl-2 {
        --offset-number: 2;
    }

    .offset-xl-3 {
        --offset-number: 3;
    }

    .offset-xl-4 {
        --offset-number: 4;
    }

    .offset-xl-5 {
        --offset-number: 5;
    }

    .offset-xl-6 {
        --offset-number: 6;
    }

    .offset-xl-7 {
        --offset-number: 7;
    }

    .offset-xl-8 {
        --offset-number: 8;
    }

    .offset-xl-9 {
        --offset-number: 9;
    }

    .offset-xl-10 {
        --offset-number: 10;
    }

    .offset-xl-11 {
        --offset-number: 11;
    }
}
