*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Common */
a {
    text-decoration: none;
}

img,
video {
    display: block;
}

button,
input {
    border: none;
    outline: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn {
    display: inline-block;
    text-align: center;
    width: 17rem;
    line-height: 6.2rem;
    background: #5d3bee;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.9;
}

.section__heading {
    font-size: 5.6rem;
    font-weight: 500;
    color: #080415;
    line-height: 6.6rem;
}

.section__desc {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.section__controls {
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
}

.section__btn {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: rgba(8, 4, 21, 0.2);
}

.section__btn.active {
    width: 2rem;
    height: 2rem;
    color: #5d3bee;
    background: currentColor;
    border: 4px solid #fff;
    outline: 1px solid currentColor;
}

/* Header */
.header {
    background-color: #fbfaff;
}

.header.header-fixed {
    position: sticky;
    top: 0;
    z-index: 97;
}

.header.header-fixed > .container {
    max-width: 1330px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-group {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.icon-group:last-child {
    display: none;
}

.email__icon,
.category__icon {
    width: 4.6rem;
    height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}

.email__address {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3rem;
    color: #080415;
    text-decoration: underline;
}

.emoji {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: center;
}

.nav {
    display: flex;
    align-items: center;
    column-gap: 4.3rem;
}

.nav__item {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #51586a;
    transition: color 0.3s;
}

.nav__item:hover {
    color: #5d3bee;
}

.blur {
    display: none;
}

/* Hero */
.hero {
    position: relative;
    padding-top: 4.4rem;
    background: #fbfaff;
    overflow: hidden;
}

.hero__inner {
}

.hero__media {
    position: relative;
}

.hero__img {
    position: relative;
    width: 51.4rem;
    height: 70.5rem;
    object-fit: cover;
    object-position: center;
    z-index: 91;
}

.hero__info {
    margin-left: auto;
    max-width: 50rem;
    margin-top: 10.4rem;
}

.hero__heading {
    font-size: 8rem;
    line-height: 7.6rem;
    margin-bottom: 2rem;
}

.hero__desc {
    max-width: 37rem;
    margin-bottom: 5rem;
}

.hero__cta {
    margin-bottom: 10.4rem;
}

.hero__cta-more {
    position: relative;
    margin-left: 3rem;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s;
}

.hero__cta-more:hover {
    color: #5d3bee;
}

.hero__cta-more::after {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 0;
    right: 0;
    height: 0.1rem;
    background-color: currentColor;
}

.hero__follow {
    display: flex;
    align-items: center;
}

.hero__follow-desc {
    font-size: 1.6rem;
    font-weight: 500;
    color: #51586a;
    line-height: 3rem;
    margin-right: 1.5rem;
}

.hero__follow-social--wrap {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(8, 4, 21, 0.2);
    border-radius: 50%;
    transition: border-color 0.3s;
}

.hero__follow-social--wrap:hover {
    border-color: #5d3bee;
}

.hero__follow-social--wrap + .hero__follow-social--wrap {
    margin-left: 2rem;
}

/* Decor */
.hero__decor {
    position: absolute;
}

.hero__decor--right {
    left: -21.5rem;
    bottom: 0;
}

.hero__decor--left {
    width: 34.1rem;
    height: auto;
    object-fit: cover;
    object-position: center;
    right: -3rem;
    bottom: 0;
    transform: translateY(36%);
}

/* Clients */
.clients {
    padding: 9.8rem 0;
}

.clients__heading {
    display: flex;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 5rem;
    width: 35.2rem;
}

.clients__heading::before {
    content: "";
    height: 0.2rem;
    width: 8.6rem;
    background: #5d3bee;
    flex-shrink: 0;
    transform: translateY(2.3rem);
    margin-right: 1.3rem;
}

.clients__brand--group {
    margin-left: 8rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 3.6rem;
    justify-content: space-between;
}

.clients__brand {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.clients__brand--icon {
    width: auto;
    height: 3.2rem;
    object-fit: cover;
    object-position: center;
}

.clients__brand--name {
    font-size: 1.8rem;
    font-weight: 600;
    color: #080415;
    white-space: nowrap;
}

/* Services */
.services {
    padding: 1.3rem 0 14rem;
}

.services__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services__heading {
    margin-bottom: 2rem;
}

.services__desc {
    max-width: 53.4rem;
    margin-bottom: 6rem;
}

.service__item {
    background-color: #fbfaff;
    padding: 4.2rem 3.2rem;
    height: 100%;
    box-shadow: 8px 8px 0px 0px transparent;
    -webkit-box-shadow: 8px 8px 0px 0px transparent;
    -moz-box-shadow: 8px 8px 0px 0px transparent;
    transition: all 0.3s;
}

.service__item:hover {
    transform: translateX(-0.6rem) translateY(-0.6rem);
    box-shadow: 8px 8px 0px 0px rgba(52, 33, 140, 0.9);
    -webkit-box-shadow: 8px 8px 0px 0px rgba(52, 33, 140, 0.9);
    -moz-box-shadow: 8px 8px 0px 0px rgba(52, 33, 140, 0.9);
}

.service__item:hover .service__icon--wrapper {
    border-color: #5d3bee;
}

.service__item:hover .service__title {
    color: #5d3bee;
}

.service__icon--wrapper {
    width: 7.4rem;
    height: 7.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(8, 4, 21, 0.05);
    border-radius: 50%;
    transition: border-color 0.3s;
}

.service__icon {
    width: 7rem;
    height: auto;
    object-fit: cover;
    transform: translateY(1rem);
}

.service__title {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 500;
    color: #080415;
    margin: 2.2rem 0 1.5rem;
    transition: color 0.3s;
}

.services__controls {
    display: none;
}

/* Works */
.works {
    background: #5d3bee;
    padding: 8.6rem 0;
}

.works .container > .row {
    row-gap: 3rem;
}

.works__header {
    display: flex;
    align-items: center;
    column-gap: 16rem;
    margin-bottom: 7rem;
}

.works__heading {
    max-width: 46.8rem;
    color: #fff;
}

.works__desc {
    color: #fff;
    opacity: 0.7;
    max-width: 37rem;
}

.work__item {
    position: relative;
    background: #fbfaff;
    padding: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.work__item--decor {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
}

.work__item--info {
    max-width: 22rem;
}

.work__item--title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem;
}

.work__item--desc {
    color: #51586a;
    font-size: 1.6rem;
    line-height: 2.3rem;
    font-weight: 400;
    margin: 1rem 0 2rem;
}

.work__item--link {
    color: #080415;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 700;
    text-decoration: underline 0.1rem;
    text-underline-offset: 0.2rem;
    transition: color 0.3s;
}

.work__item--link:hover {
    color: #5d3bee;
}

.work__item--thumb {
    width: 24.6rem;
    height: 18.7rem;
    object-fit: cover;
    object-position: center;
}

.works__btn {
    display: block;
    color: #080415;
    background: #fff;
    margin: 8rem auto 0;
}

.works__btn:hover {
    opacity: 1;
    color: #5d3bee;
}

/* About */
.about {
    padding: 14rem 0 15rem;
    position: relative;
    z-index: 1;
}

.about__hello {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.9rem;
    margin-bottom: 1rem;
}

.about__hello--text {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem;
}

.about__heading,
.about__desc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.about__desc {
    margin-top: 1.5rem;
    max-width: 57rem;
}

.about__statistical {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(8, 4, 21, 0.2);
    border-bottom: 1px solid rgba(8, 4, 21, 0.2);
    padding: 2rem 10rem;
    margin: 7rem 0;
}

.statistical__value {
    color: #080415;
    font-size: 5.6rem;
    line-height: 7.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-decoration: underline currentColor 0.3rem;
    text-underline-offset: 0.6rem;
}

.statistical__name {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 400;
}

.about__video--wrapper {
    position: relative;
}

.about__video {
    width: 100%;
    height: 62.8rem;
    object-fit: cover;
    object-position: center;
}

.about__play-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11.1rem;
    height: 11.1rem;
    border-radius: 50%;
    background: rgba(255, 255, 2552, 0.7);
    transition: 0.3s;
}

.about__play-video:hover {
    cursor: pointer;
    background: rgba(255, 255, 2552, 0.9);
}

.about__video--tag {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 700;
    padding: 1.6rem 2.8rem;
    text-align: center;
    background: #fff;
}

/* Feedback */
.feedback {
    padding: 47.3rem 0 7.4rem;
    background: #fbfaff;
    transform: translateY(-47.3rem);
    margin-bottom: -47.3rem;
    position: relative;
}

.feedback__decor {
    position: absolute;
    bottom: 0;
}

.feedback__decor--left {
    left: 0;
}

.feedback__decor--right {
    right: 0;
}

.feedback__heading {
    margin-bottom: 2rem;
    text-align: center;
}

.feedback__desc {
    margin-bottom: 6rem;
    text-align: center;
    max-width: 57rem;
    margin-left: auto;
    margin-right: auto;
}

.feedback__slides {
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.feedback__item--wrap {
    flex-shrink: 0;
    width: 100%;
    transform: translateX(-100%);
    transition-duration: 0.6s;
}

.feedback__item {
    max-width: 67.9rem;
    margin: 0 auto;
}

.feedback__content {
    color: #51586a;
    font-size: 2.4rem;
    line-height: 4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3.6rem;
}

.feedback__user {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.6rem;
    margin-bottom: 0.3rem;
}

.feedback__avt--wrap {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #f29764;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.feedback__avt {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    padding-top: 0.6rem;
}

.feedback__name {
    color: #080415;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 500;
}

.feedback__position {
    color: #51586a;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.9rem;
    font-weight: 400;
}

.feedback__controls {
    margin-top: 4rem;
}

/* Questions */
.questions {
    padding: 9.5rem 0 16rem;
    border: 1px solid red;
}

.questions__inner {
    max-width: 101rem;
}

.questions__heading {
    max-width: 57.5rem;
    margin-bottom: 8rem;
}

.question__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.2rem;
    padding-bottom: 3.3rem;
    border-bottom: 2px solid #080415;
    transition-duration: 0.3s;
}

.question__item.active {
    padding-bottom: 2.1rem;
    border-color: #5d3bee;
}

.question__item.active .question__title {
    color: #5d3bee;
}

.question__item.active .question__desc {
    display: block;
}

.question__item.active .question__btn--detail {
    display: none;
}

.question__item:not(.active) .question__btn--brief {
    display: none;
}

.question__item + .question__item {
    margin-top: 6rem;
}

.question__title {
    color: #080415;
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 500;
    transition-duration: 0.3s;
}

.question__title:hover {
    cursor: pointer;
    color: #5d3bee;
}

.question__desc {
    display: none;
    max-width: 48.7rem;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 400;
    margin-top: 2.3rem;
    transition-duration: 0.3s;
}

.question__btn {
    position: relative;
    width: 5rem;
    height: 5rem;
    border: 2px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
    background: #fff;
    transition-duration: 0.3s;
}

.question__btn img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.question__btn:hover {
    cursor: pointer;
    color: #5d3bee;
    border-color: currentColor;
}

/* Responsive */
@media (max-width: 420px) {
    /* Common */
    .btn {
        width: 14.7rem;
        line-height: 5.5rem;
        font-size: 1.6rem;
    }

    .section__heading {
        font-size: 3.6rem;
        line-height: 4.2rem;
    }

    .section__desc {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    /* Header */
    .header__inner {
        justify-content: unset;
        border-bottom: 1px solid #d6d3e2;
    }

    .email__address {
        display: none;
    }

    .blur {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.07);
        z-index: 98;
        opacity: 0;
        visibility: hidden;
        transition-duration: 0.5s;
    }

    .nav {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        width: 70vw;
        height: 100vh;
        background: #fff;
        transition-duration: 0.5s;
        box-shadow: -6px 0px 26px 6px rgba(0, 0, 0, 0.17);
        -webkit-box-shadow: -6px 0px 26px 6px rgba(0, 0, 0, 0.17);
        -moz-box-shadow: -6px 0px 26px 6px rgba(0, 0, 0, 0.17);
        z-index: 99;
        opacity: 0;
    }

    .nav__item {
        font-size: 2rem;
        font-weight: 500;
        padding: 3.2rem 0;
        width: 70%;
        text-align: center;
    }

    .nav__item {
        border-bottom: 1px solid #d6d3e2;
    }

    #checkbox:checked ~ .nav {
        right: 0;
        opacity: 1;
    }

    #checkbox:checked ~ .blur {
        opacity: 1;
        visibility: visible;
    }

    .icon-group {
        order: 2;
        margin-right: 1rem;
    }

    .icon-group:first-child {
        margin-left: auto;
    }

    .icon-group:last-child {
        display: flex;
    }

    .email__icon,
    .category__icon {
        width: 3.2rem;
        height: 3.2rem;
    }

    .email__icon img,
    .category__icon img {
        width: 1.6rem;
        height: 1.2rem;
    }

    .emoji {
        order: 1;
        width: 8.5rem;
        height: 8.5rem;
    }

    /* Main */
    main .container {
        --gutter: 40px;
    }

    /* Hero */
    .hero {
        padding-top: 5.05rem;
    }

    .hero .row[class*="reverse-on-mobile"] > [class*="col-"]:first-child {
        order: 2;
    }

    .hero .row[class*="reverse-on-mobile"] > [class*="col-"]:last-child {
        order: 1;
    }

    .hero__info {
        margin-top: 0;
        width: 100vw;
    }

    .hero__heading {
        font-size: 4.2rem;
        font-weight: 500;
        line-height: 5rem;
    }

    .hero__desc {
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 3rem;
    }

    .hero__cta {
        margin-bottom: 2.5rem;
    }

    .hero__cta-more {
        font-size: 1.6rem;
        margin-left: 4rem;
    }

    .hero__follow-desc {
        font-size: 1.4rem;
        margin-right: 1rem;
    }

    .hero__follow-social--wrap {
        width: 3.1rem;
        height: 3.1rem;
    }

    .hero__follow-social--wrap + .hero__follow-social--wrap {
        margin-left: 1.55rem;
    }

    .hero__follow-social--icon {
        width: 1.4rem;
        hyphens: auto;
        object-fit: cover;
        object-position: center;
        scale: 0.8;
    }

    .hero__decor--left {
        display: none;
    }

    .hero__media {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero__img {
        width: 25.9rem;
        height: 35.5rem;
    }

    .hero__decor--right {
        width: 54.3rem;
        height: 40.2rem;
        left: -22%;
        bottom: -3rem;
        object-fit: cover;
        object-position: center;
    }

    /* Clients */
    .clients {
        padding: 12.5rem 0 12rem;
    }

    .clients__heading {
        margin: 0 auto 4rem;
        flex-direction: column;
        align-items: center;
        font-size: 2.8rem;
        line-height: 3.4rem;
        width: 18.9rem;
        text-align: center;
    }

    .clients__heading::before {
        width: 4.8rem;
        transform: translateY(-0.7rem);
    }

    .clients__brand--group {
        grid-template-columns: auto auto;
        margin: 0;
    }

    .clients__brand--icon {
        height: 2.8rem;
    }

    .clients__brand--name {
        height: 1.6rem;
    }

    /* Services */
    .services {
        padding: 0 0 12rem 0;
    }

    .services .row {
        flex-wrap: nowrap;
        overflow-x: hidden;
    }

    .services .row > [class*="col-"] {
        transition: all 0.5s;
        /* transform: translateX(-100%); */
    }

    .services__desc {
        margin-bottom: 5rem;
    }

    .service__item {
        padding: 2.9rem 5rem;
    }

    .service__icon--wrapper {
        width: 6.2rem;
        height: 6.2rem;
    }

    .service__icon {
        width: 6.4rem;
        transform: translateY(0.9rem);
    }

    .service__title {
        font-size: 2.8rem;
        line-height: 3.6rem;
        margin: 2rem 0 1rem;
    }

    .services__controls {
        display: flex;
    }

    /* Works */
    .works {
        padding: 7rem 0 6rem;
    }

    .works__header {
        flex-direction: column;
        text-align: center;
        margin-bottom: 6rem;
    }

    .works__heading {
        max-width: 30rem;
        margin-bottom: 2rem;
    }

    .works__desc {
        max-width: 35rem;
    }

    .works .container > .row {
        row-gap: 2rem;
    }

    .work__item {
        padding: 2rem 1.5rem;
    }

    .work__item--title {
        font-size: 2.4rem;
        line-height: 3.4rem;
    }

    .work__item--desc {
        font-size: 1.4rem;
        line-height: 2rem;
        max-width: 17.6rem;
        margin: 0.4rem 0;
    }

    .work__item--link {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .work__item--thumb {
        width: 12.2rem;
        height: 9.3rem;
    }

    .work__item--decor {
        width: 28.5rem;
        height: 25rem;
        bottom: -50px;
        right: -5px;
    }

    .works__btn {
        width: 15.4rem;
        height: 5.6rem;
        margin: 5rem auto 0;
    }

    /* About */
    .about {
        padding: 12rem 0;
    }

    .about__hello {
        column-gap: 0.4rem;
    }

    .about__hello--text {
        font-size: 2rem;
        line-height: 4rem;
    }

    .about__hello--icon {
        width: 1.8rem;
        height: 1.8rem;
        object-fit: cover;
        object-position: center;
    }

    .about__desc {
        margin-top: 2rem;
    }

    .about__statistical {
        margin: 5rem 0 4rem;
        padding: 3rem 1.6rem;
        column-gap: 1.6rem;
    }

    .statistical__value {
        font-size: 3rem;
        line-height: 4.2rem;
        text-decoration: underline currentColor 0.15rem;
        text-underline-offset: 0.3rem;
        margin-bottom: 0.5rem;
    }

    .statistical__name {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    .about__video {
        height: 27.6rem;
    }

    .about__play-video {
        width: 7.77rem;
        height: 7.77rem;
    }

    .about__play-video img {
        width: 1.1rem;
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    .about__video--tag {
        padding: 0.7rem 2.1rem;
        font-size: 1.2rem;
    }

    /* Feedback */
    .feedback__desc {
        margin-bottom: 4rem;
    }

    .feedback__content {
        font-size: 1.8rem;
        line-height: 3rem;
        margin-bottom: 4.8rem;
    }

    .feedback__name {
        font-size: 2.4rem;
    }

    .feedback__controls {
        margin-top: 2rem;
    }

    /* Questions */
    .questions__heading {
        margin-bottom: 4rem;
    }

    [class^="question__item"] {
        padding-left: 1rem;
        padding-bottom: 1.5rem;
        align-items: flex-start;
    }

    .question__title {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .question__desc {
        margin-top: 1.5rem;
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    .question__btn {
        flex-shrink: 0;
        width: 3.3rem;
        height: 3.3rem;
    }

    .question__btn img {
        width: 0.93rem;
        height: auto;
    }
}
