*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Common */
a {
    text-decoration: none;
}

img {
    display: block;
}

button,
input {
    border: none;
    outline: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn {
    display: inline-block;
    text-align: center;
    width: 17rem;
    line-height: 6.2rem;
    background: #5d3bee;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.9;
}

.section__heading {
    font-size: 5.6rem;
    font-weight: 500;
    color: #080415;
    line-height: 6.6rem;
}

.section__desc {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

/* Header */
.header {
    background-color: #fbfaff;
}

.header.header-fixed {
    position: sticky;
    top: 0;
    z-index: 97;
}

.header.header-fixed > .container {
    max-width: 1330px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-group {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.icon-group:last-child {
    display: none;
}

.email__icon,
.category__icon {
    width: 4.6rem;
    height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}

.email__address {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3rem;
    color: #080415;
    text-decoration: underline;
}

.emoji {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: center;
}

.nav {
    display: flex;
    align-items: center;
    column-gap: 4.3rem;
}

.nav__item {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #51586a;
    transition: color 0.3s;
}

.nav__item:hover {
    color: #5d3bee;
}

.blur {
    display: none;
}

/* Hero */
.hero {
    position: relative;
    padding-top: 4.4rem;
    background: #fbfaff;
    overflow: hidden;
}

.hero__inner {
}

.hero__media {
    position: relative;
}

.hero__img {
    position: relative;
    width: 51.4rem;
    height: 70.5rem;
    object-fit: cover;
    object-position: center;
    z-index: 91;
}

.hero__info {
    margin-left: auto;
    max-width: 50rem;
    margin-top: 10.4rem;
}

.hero__heading {
    font-size: 8rem;
    line-height: 7.6rem;
    margin-bottom: 2rem;
}

.hero__desc {
    max-width: 37rem;
    margin-bottom: 5rem;
}

.hero__cta {
    margin-bottom: 10.4rem;
}

.hero__cta-more {
    position: relative;
    margin-left: 3rem;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s;
}

.hero__cta-more:hover {
    color: #5d3bee;
}

.hero__cta-more::after {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 0;
    right: 0;
    height: 0.1rem;
    background-color: currentColor;
}

.hero__follow {
    display: flex;
    align-items: center;
}

.hero__follow-desc {
    font-size: 1.6rem;
    font-weight: 500;
    color: #51586a;
    line-height: 3rem;
    margin-right: 1.5rem;
}

.hero__follow-social--wrap {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(8, 4, 21, 0.2);
    border-radius: 50%;
    transition: border-color 0.3s;
}

.hero__follow-social--wrap:hover {
    border-color: #5d3bee;
}

.hero__follow-social--wrap + .hero__follow-social--wrap {
    margin-left: 2rem;
}

/* Decor */
.hero__decor {
    position: absolute;
}

.hero__decor--right {
    left: -21.5rem;
    bottom: 0;
}

.hero__decor--left {
    width: 34.1rem;
    height: auto;
    object-fit: cover;
    object-position: center;
    right: -3rem;
    bottom: 0;
    transform: translateY(36%);
}

/* Clients */
.clients {
    padding: 9.8rem 0;
}

.clients__heading {
    display: flex;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 5rem;
    width: 35.2rem;
}

.clients__heading::before {
    content: "";
    height: 0.2rem;
    width: 8.6rem;
    background: #5d3bee;
    flex-shrink: 0;
    transform: translateY(2.3rem);
    margin-right: 1.3rem;
}

.clients__brand--group {
    margin-left: 8rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 3.6rem;
    justify-content: space-between;
}

.clients__brand {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.clients__brand--icon {
    width: auto;
    height: 3.2rem;
    object-fit: cover;
    object-position: center;
}

.clients__brand--name {
    font-size: 1.8rem;
    font-weight: 600;
    color: #080415;
    white-space: nowrap;
}

/* Services */
.services {
    padding: 1.3rem 0 14rem;
}

.services__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services__heading {
    margin-bottom: 2rem;
}

.services__desc {
    max-width: 53.4rem;
    margin-bottom: 6rem;
}

.service__item {
    background-color: #fbfaff;
    padding: 4.2rem 3.2rem;
    height: 100%;
    box-shadow: 8px 8px 0px 0px transparent;
    -webkit-box-shadow: 8px 8px 0px 0px transparent;
    -moz-box-shadow: 8px 8px 0px 0px transparent;
    transition: all 0.3s;
}

.service__item:hover {
    transform: translateX(-0.6rem) translateY(-0.6rem);
    box-shadow: 8px 8px 0px 0px rgba(52, 33, 140, 0.9);
    -webkit-box-shadow: 8px 8px 0px 0px rgba(52, 33, 140, 0.9);
    -moz-box-shadow: 8px 8px 0px 0px rgba(52, 33, 140, 0.9);
}

.service__item:hover .service__icon--wrapper {
    border-color: #5d3bee;
}

.service__item:hover .service__title {
    color: #5d3bee;
}

.service__icon--wrapper {
    width: 7.4rem;
    height: 7.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(8, 4, 21, 0.05);
    border-radius: 50%;
    transition: border-color 0.3s;
}

.service__icon {
    width: 7rem;
    height: auto;
    object-fit: cover;
    transform: translateY(1rem);
}

.service__title {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 500;
    color: #080415;
    margin: 2.2rem 0 1.5rem;
    transition: color 0.3s;
}

.services__controls {
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
    display: none;
}

.services__btn {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: rgba(8, 4, 21, 0.2);
}

.services__btn.active {
    width: 2rem;
    height: 2rem;
    color: #5d3bee;
    background: currentColor;
    border: 4px solid #fff;
    outline: 1px solid currentColor;
}

/* Responsive */
@media (max-width: 420px) {
    /* Common */
    .btn {
        width: 14.7rem;
        line-height: 5.5rem;
        font-size: 1.6rem;
    }

    .section__heading {
        font-size: 3.6rem;
        line-height: 4.2rem;
    }

    .section__desc {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    /* Header */
    .header__inner {
        justify-content: unset;
        border-bottom: 1px solid #d6d3e2;
    }

    .email__address {
        display: none;
    }

    .blur {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.07);
        z-index: 98;
        opacity: 0;
        visibility: hidden;
        transition-duration: 0.5s;
    }

    .nav {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        width: 70vw;
        height: 100vh;
        background: #fff;
        transition-duration: 0.5s;
        box-shadow: -6px 0px 26px 6px rgba(0, 0, 0, 0.17);
        -webkit-box-shadow: -6px 0px 26px 6px rgba(0, 0, 0, 0.17);
        -moz-box-shadow: -6px 0px 26px 6px rgba(0, 0, 0, 0.17);
        z-index: 99;
        opacity: 0;
    }

    .nav__item {
        font-size: 2rem;
        font-weight: 500;
        padding: 3.2rem 0;
        width: 70%;
        text-align: center;
    }

    .nav__item {
        border-bottom: 1px solid #d6d3e2;
    }

    #checkbox:checked ~ .nav {
        right: 0;
        opacity: 1;
    }

    #checkbox:checked ~ .blur {
        opacity: 1;
        visibility: visible;
    }

    .icon-group {
        order: 2;
        margin-right: 1rem;
    }

    .icon-group:first-child {
        margin-left: auto;
    }

    .icon-group:last-child {
        display: flex;
    }

    .email__icon,
    .category__icon {
        width: 3.2rem;
        height: 3.2rem;
    }

    .email__icon img,
    .category__icon img {
        width: 1.6rem;
        height: 1.2rem;
    }

    .emoji {
        order: 1;
        width: 8.5rem;
        height: 8.5rem;
    }

    /* Main */
    main .container {
        --gutter: 40px;
    }

    /* Hero */
    .hero {
        padding-top: 5.05rem;
    }

    .hero .row[class*="reverse-on-mobile"] > [class*="col-"]:first-child {
        order: 2;
    }

    .hero .row[class*="reverse-on-mobile"] > [class*="col-"]:last-child {
        order: 1;
    }

    .hero__info {
        margin-top: 0;
        width: 100vw;
    }

    .hero__heading {
        font-size: 4.2rem;
        font-weight: 500;
        line-height: 5rem;
    }

    .hero__desc {
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 3rem;
    }

    .hero__cta {
        margin-bottom: 2.5rem;
    }

    .hero__cta-more {
        font-size: 1.6rem;
        margin-left: 4rem;
    }

    .hero__follow-desc {
        font-size: 1.4rem;
        margin-right: 1rem;
    }

    .hero__follow-social--wrap {
        width: 3.1rem;
        height: 3.1rem;
    }

    .hero__follow-social--wrap + .hero__follow-social--wrap {
        margin-left: 1.55rem;
    }

    .hero__follow-social--icon {
        width: 1.4rem;
        hyphens: auto;
        object-fit: cover;
        object-position: center;
        scale: 0.8;
    }

    .hero__decor--left {
        display: none;
    }

    .hero__media {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero__img {
        width: 25.9rem;
        height: 35.5rem;
    }

    .hero__decor--right {
        width: 54.3rem;
        height: 40.2rem;
        left: -22%;
        bottom: -3rem;
        object-fit: cover;
        object-position: center;
    }

    /* Clients */
    .clients {
        padding: 12.5rem 0 12rem;
    }

    .clients__heading {
        margin: 0 auto 4rem;
        flex-direction: column;
        align-items: center;
        font-size: 2.8rem;
        line-height: 3.4rem;
        width: 18.9rem;
        text-align: center;
    }

    .clients__heading::before {
        width: 4.8rem;
        transform: translateY(-0.7rem);
    }

    .clients__brand--group {
        grid-template-columns: auto auto;
        margin: 0;
    }

    .clients__brand--icon {
        height: 2.8rem;
    }

    .clients__brand--name {
        height: 1.6rem;
    }

    /* Services */
    .services {
        padding: 0 0 12rem 0;
    }

    .services .row {
        flex-wrap: nowrap;
        overflow-x: hidden;
    }

    .services .row > [class*="col-"] {
        transition: all 0.5s;
        /* transform: translateX(-100%); */
    }

    .services__desc {
        margin-bottom: 5rem;
    }

    .service__item {
        padding: 2.9rem 5rem;
    }

    .service__icon--wrapper {
        width: 6.2rem;
        height: 6.2rem;
    }

    .service__icon {
        width: 6.4rem;
        transform: translateY(0.9rem);
    }

    .service__title {
        font-size: 2.8rem;
        line-height: 3.6rem;
        margin: 2rem 0 1rem;
    }

    .services__controls {
        display: flex;
    }
}
